In [1]:
import pandas as pd

data_df = pd.read_csv('marketing-campaign.csv')
data_df.head()

       tv    web  radio  sales
0   0.916  1.689  0.208  1.204
1   9.359  1.706  1.071  4.800
2   5.261  2.538  2.438  3.970
3   8.682  2.092  1.283  5.212
4  11.736  1.660  1.800  5.993

In [2]:
X = data_df.drop('sales', axis=1).values
y = data_df.sales.values

In [3]:
x = data_df.tv.values
y = data_df.sales.values